<div class="cover-customer-index">
  <div class="container">
    <div class="row justify-content-center">
     <% if customer_signed_in? && @customer == current_customer %>
      <h1 class="font-weight-normal mt-5 mb-5">フォロー一覧</h1>
     <% else %>
      <h1 class="font-weight-normal mt-5 mb-5"><%= @customer.name %>さんのフォロー一覧</h1>
     <% end %>
    </div>
    <%= render "follow", customers: @customers%>
    
  </div>
</div>
