<div class="container py-5 ">
  <div class="row">
    <div class="col-lg-3">
      <h5 class="bg-dark text-light text-center">タグ一覧・追加</h5>
    </div>
  </div>
   <%= render 'form', tag: @tag %>
  <div class="row">
    <div class="col-lg-10">
    <table class="table-hover">
      <thead class="bg-dark text-light">
        <tr>
          <th></th>
          <th>
            タグ
          </th>
          <th colspan = "2"></th>
        </tr>
      </thead>
      <tbody>
        <% @tags.each do |tag| %>
          <tr>
            <td>
              <%= tag.name %>
            </td>
            <td width = "150"></td>
            <td>
              <%= link_to '編集する', edit_admin_tag_path(tag), class: "btn btn-sm btn-success" %>
              <%= link_to '削除する', admin_tag_path(tag), method: :delete, class: "btn btn-sm btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>